/* Define a class to change the border color and outline color when in focus */
.focus-border:focus {
    border-color: red; /* Change the border color to red when in focus */
    outline-color: red; /* Change the outline color to red when in focus */
    outline-style: solid;
    padding-left: 5px;
    border-width: 1px; /* Set the outline style to solid (optional) */
  }
  